<!DOCTYPE html>
<html>
<head>
  <title>ToTur</title>
  <%= stylesheet_link_tag '/lib/npm/font-awesome@4.5.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/styles/styles.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body aurelia-app="main">

<%= yield %>

</body>
</html>
